
body
{
   background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 620px;
}

.fotmularioLogin {
    margin-top: 20%;
}

/* en dispositivos con pantalla pequeña eliminamos la imagen de fondo */
@media (max-width: 450px) {
    body {
        background-color: whitesmoke;
        background-image: none;
    }
    .fotmularioLogin {
        margin-top: 25%;
    }
}