* {

	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {background:#FFFFFF;}
/*.container {
    height: 620px;
    overflow-y: auto;
}
::-webkit-scrollbar {
      width: 15px;
}

body
{
   background-image: url("../../../img/logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 620px;
    overflow-x: hidden;
}*/
.boton {
    margin: 15px auto;
}
.alert {
    position : absolute;
    float: left;
    top: 40%;
    left: 40%;
}
.alert p {
    text-align: center;
}
@media (max-width: 800px) {
    .alert {
        top: 40%;
        left: 25%;
    }
    /*body {
        background-color: whitesmoke;
        background-image: none;
    }*/
}

table {
    background:#FFFFFF;
}
table tr 
{
	background: transparent;
}
table thead tr 
{
	background: transparent;
}

table tr:nth-child(even)
{
	background: rgba(167, 76, 225, 0.5);
}

.rellenar > tbody > tr:nth-of-type(9) {
    background-color: rgba(135, 188, 94, 0.6);
}